:root {
  --main-text-color: #212121;
  --sec-text-color: #757575;
  --accent-color: #2196f3;
  --active-button-color: #188ce8;
  --main-background-color: #f5f5f5;
  --sec-background-color: #f5f4fa;
  --header-background-color: #ffffff;
  --footer-background-color: #2f303a;
  --sec-logo-color: #000000;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --footer-icon-background: rgba(255, 255, 255, 0.1);
  --border-main-color: #eeeeee;
  --hero-gradient-color: rgba(47, 48, 58, 0.4);
  --social-network-color: #afb1b8;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--header-background-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
  }
}

.section {
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
  }
}

.section__title {
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__span {
  color: var(--sec-logo-color);
}

.menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
  }
}

.menu__item {
  display: inline-block;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.header-menu {
  padding-top: 32px;
  padding-bottom: 32px;
}

.menu__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  color: var(--main-text-color);
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  background-color: var(--accent-color);
  border-radius: 2px;
  width: 100%;
  height: 4px;
}

.header-contacts {
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .header-contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts {
    flex-direction: row;
    gap: 40px;
  }
}

.contacts__item {
  display: inline-block;
}

.contacts__item:not(:last-child) {
  margin-right: 30px;
}
@media screen and (min-width: 768px) {
  .contacts__item:not(:last-child) {
    margin-right: 0;
  }
}

.contacts__mail-icon {
  margin-right: 10px;
  vertical-align: middle;
  fill: currentColor;
}
.contacts__mail-icon:hover, .contacts__mail-icon:focus {
  fill: var(--accent-color);
}

.contacts__phone-icon {
  margin-right: 10px;
  vertical-align: text-top;
  fill: currentColor;
}

.contacts__tel,
.contacts__mail {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  color: var(--sec-text-color);
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}
.contacts__tel:hover, .contacts__tel:focus,
.contacts__mail:hover,
.contacts__mail:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .contacts__tel,
.contacts__mail {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  padding: 48px 40px;
  width: 100vw;
  height: 100vh;
  height: 796px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 999;
  transform: translateX(130%);
  transition: transform 250ms var(--transition-timing-function);
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu-list {
  margin-bottom: 306px;
}

.mobile-menu-item:not(last-child) {
  margin-bottom: 32px;
}

.mobile-menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
}
.mobile-menu-link:hover, .mobile-menu-link:focus {
  color: var(--accent-color);
}

.mobile-contacts-list {
  margin-bottom: 64px;
}

.mobile-contacts-item:not(last-child) {
  margin-bottom: 32px;
}

.mobile-contacts-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-contacts-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--sec-text-color);
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
.menu-toggle:hover, .menu-toggle:focus {
  fill: var(--accent-color);
}

.js-open-menu {
  margin-top: 5px;
  margin-right: 10px;
  display: block;
}
@media screen and (min-width: 768px) {
  .js-open-menu {
    display: none;
  }
}

.js-close-menu {
  position: absolute;
  top: 10px;
  right: 15px;
  display: block;
}

.mobile-soc {
  display: flex;
  gap: 20px;
}

.mob-soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.hero__container {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-mob.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__container {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-mob-2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero__container {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-tab.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__container {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-tab-2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero__container {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__container {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-2x.jpg");
  }
}

.hero__title {
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--header-background-color);
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 360px;
    text-align: center;
    font-size: 26px;
    line-height: 1.62;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  padding: 10px 32px;
  min-width: 200px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.features__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  background: var(--sec-background-color);
  margin-bottom: 30px;
}

.features__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.features__header {
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features__header {
    text-align: left;
  }
}

.features__text {
  line-height: 1.71;
  color: var(--sec-text-color);
}

.features__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px) / 4);
  }
}

@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}

.about-container {
  padding-bottom: 94px;
}

.about__list {
  display: flex;
  gap: 30px;
}

.about__item {
  position: relative;
}

.about__overlay-text {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--header-background-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--sec-background-color);
}

.team-container {
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team-container {
    padding-bottom: 94px;
  }
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team__text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__item {
  background: var(--header-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}

.team__member {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--sec-text-color);
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  gap: 10px;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header-background-color);
  fill: var(--social-network-color);
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  fill: var(--header-background-color);
}

.team__member-photo {
  width: 100%;
}

.clients__container {
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients__container {
    padding-bottom: 94px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.clients__item {
  height: 92px;
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}

.clients__link {
  width: 100%;
  height: 100%;
  border: 1px solid currentColor;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--social-network-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
}

.clients__logo {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}

.footer .container {
  align-items: baseline;
}
@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.footer-nav {
  text-align: center;
  min-width: 231px;
}
@media screen and (min-width: 768px) {
  .footer-nav {
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-nav {
    margin-right: 70px;
    text-align: left;
  }
}

.footer-nav__logo {
  margin-bottom: 28px;
  display: block;
}

.footer-nav__span {
  color: var(--header-background-color);
}

.address__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: var(--header-background-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.address__tel,
.address__mail {
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  color: var(--footer-address-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}
.address__tel:hover, .address__tel:focus,
.address__mail:hover,
.address__mail:focus {
  color: var(--accent-color);
}

.address__item:not(:last-child) {
  margin-bottom: 12px;
}

.address__contacts {
  margin-bottom: 60px;
}

.footer-social {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-social {
    margin-right: auto;
  }
}

.footer-social__title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-background-color);
}
@media screen and (min-width: 1200px) {
  .footer-social__title {
    text-align: left;
  }
}

.social-join {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-join__item {
  width: 44px;
  height: 44px;
}

.social-join__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--footer-icon-background);
  fill: var(--header-background-color);
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}
.social-join__link:hover, .social-join__link:focus {
  background-color: var(--accent-color);
  fill: var(--header-background-color);
}

.footer-subscribe__title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-background-color);
}
@media screen and (min-width: 1200px) {
  .footer-subscribe__title {
    text-align: left;
  }
}

.footer-modal-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--footer-background-color);
  padding: 15px 16px;
  width: 100%;
  height: 50px;
  color: var(--header-background-color);
}
@media screen and (min-width: 768px) {
  .footer-modal-input {
    min-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-modal-input {
    min-width: 358px;
  }
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-form {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.footer-form__button {
  position: relative;
  width: 200px;
  padding: 10px 62px 10px 28px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 1200px) {
  .footer-form__button {
    left: 0;
    transform: translateX(0);
  }
}

.footer-form__icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms var(--transition-timing-function), visibility 250ms var(--transition-timing-function);
}

.modal {
  padding: 40px;
  width: 450px;
  height: 609px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  transition: transform 250ms var(--transition-timing-function);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.backdrop .is-hidden .modal {
  transform: translate(-50%, -50%);
}

.modal-close {
  width: 30px;
  height: 30px;
  background-color: var(--header-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 14px;
  top: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}
.modal-close:hover, .modal-close:focus {
  fill: var(--accent-color);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
@media screen and (min-width: 768px) {
  .modal-title {
    line-height: 1.15;
  }
}

.input-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--sec-text-color);
  cursor: pointer;
}

.modal-field {
  margin-bottom: 10px;
}

.modal-input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}
.modal-input:hover, .modal-input:focus {
  border-color: var(--accent-color);
}
.modal-input:hover + .modal-input-icon, .modal-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}

.input-wrap {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}

.modal-comment-field {
  margin-bottom: 20px;
}

.user-comment {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  cursor: pointer;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}
.user-comment:hover, .user-comment:focus {
  border-color: var(--accent-color);
}

.modal-check-field {
  margin-bottom: 30px;
}

.check-text {
  font-size: 12px;
  line-height: 1.17;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--sec-text-color);
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .check-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.check-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}

.input-check:checked + .custom-check > svg {
  opacity: 1;
}

.user-agreement-link {
  color: var(--accent-color);
}

.button-submit {
  display: block;
  margin: 0 auto;
  padding: 10px 52px;
  min-width: 200px;
}

.button-list__button {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-text-color);
  cursor: pointer;
  background-color: var(--sec-background-color);
  border: none;
  border-radius: 4px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}
.button-list__button:hover, .button-list__button:focus {
  color: var(--header-background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .button-list {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .button-list {
    justify-content: center;
    margin-bottom: 50px;
  }
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio__item {
  width: calc((100% - 0px) / 1);
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    width: calc((100% - 60px) / 3);
  }
}

.portfolio__card {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
  border-top: none;
  flex-grow: 10;
}

.portfolio__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__image {
  margin: 0 auto;
}

.portfolio__title {
  color: var(--main-text-color);
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  background-color: var(--header-background-color);
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--sec-text-color);
  background-color: var(--header-background-color);
}

.portfolio-container {
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio-container {
    padding-bottom: 94px;
  }
}

.portfolio__overlay {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay-text {
  position: absolute;
  top: 0;
  padding: 63px 24px;
  color: var(--header-background-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms var(--transition-timing-function);
}
.portfolio__link:hover .portfolio__overlay-text, .portfolio__link:focus .portfolio__overlay-text {
  transform: translateY(0);
}

.button {
  background-color: var(--accent-color);
  color: var(--header-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}
.button:hover, .button:focus {
  background-color: var(--active-button-color);
}/*# sourceMappingURL=main.css.map */