.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}
.footer .container {
  align-items: baseline;
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.footer-nav {
  text-align: center;
  min-width: 231px;
  @include tablet {
    margin-right: 165px;
  }
  @include desktop {
    margin-right: 94px;
    text-align: left;
  }
}
.footer-nav__logo {
  margin-bottom: 28px;
  display: block;
}
.footer-nav__span {
  color: var(--header-background-color);
}
.address__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: var(--header-background-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.address__tel,
.address__mail {
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  color: var(--footer-address-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.address__item:not(:last-child) {
  margin-bottom: 12px;
}
.address__contacts {
  margin-bottom: 60px;
  @include desktop {
    margin-bottom: 0;
  }
}

.footer-social {
  margin-bottom: 60px;
  @include desktop {
    margin-right: auto;
    margin-bottom: 0;
  }
}
.footer-social__title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-background-color);
  @include desktop {
    text-align: left;
  }
}
.social-join {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social-join__item {
  width: 44px;
  height: 44px;
}
.social-join__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--footer-icon-background);
  fill: var(--header-background-color);
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: var(--header-background-color);
  }
}
